<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <% desserts.forEach(desserts => { %>
        <div>     
        <h3><%= category.name %></h3>
        <p> $<%= menu.price %></p>
        <p><%= menu.rating %> stars!</p>
        <p><%= menu.details %></p>
        </div>
    <% }); %>
</body>
</html>